<?xml version="1.0"?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="All_Unit_Tests">
            <file>./StringsToArrayTest.php</file>
        </testsuite>
    </testsuites>

</phpunit>
